.text-input-search {
  font-size: 17px;
  background-color: var(--input-bg);
  color: var(--input-text);
  border-radius: 10px;
  margin: 4px 0px;
  padding: 12px 25px;
  width: 100%;
  box-shadow: var(--shadow-sm);
  outline: none;
  border: none;
  transition: box-shadow 300ms, padding 300ms, background-color 300ms;

  &::placeholder {
    transition: opacity 300ms, transform 700ms;
    color: var(--input-placeholder);
  }

  &:focus::placeholder {
    opacity: 0;
  }

  &:hover {
    box-shadow: var(--shadow-md);
    padding: 12px 30px;
    transition: box-shadow 500ms, padding 500ms;
  }

  &:focus {
    box-shadow: var(--shadow-focus);
    padding: 12px 25px;
    transition: box-shadow 500ms, padding 500ms;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    margin: 2px 0px;
    padding: 12px 22px;
    &:hover {
      padding: 12px 22px;
    }
    &:focus {
      padding: 12px 22px;
    }
  }
}

.text-input-search-placeholder-transition::placeholder {
  transform: translateY(10px);
  opacity: 0;
}
