.home-page {
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0px max(10px, 10%);

  h1 {
    font-size: 70px;
    font-weight: 700;
    text-shadow: 0px 4px 4px #00000040;
  }

  h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0px;
  }

  @media (max-width: 767px) {
    h1 {
      width: 100%;
      font-size: 40px;
      text-align: center;
    }
    h2 {
      width: 100%;
      font-size: 16px;
      text-align: center;
    }
  }
}
